<div class="responsive-container-block bigContainer">
  <div class="responsive-container-block Container bottomContainer">
    <div class="ultimateImg">
      <img
        class="mainImg"
        src="/assets/images/innovation.jpg"
      />
      <div class="purpleBox">
        <p class="purpleText">
            NexYojana: Empowering the Next Generation of Innovators
        </p>
        <img
          class="stars"
          src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/mp5.svg"
        />
      </div>
    </div>
    <div class="allText bottomText">
      <p class="text-blk headingText">About NexYojana</p>
      <p class="text-blk subHeadingText">
        Unlocking Potential through Coding, Collaboration, and Seamless Academic Solutions
      </p>
      <p class="text-blk description">
        The aim of NexYojana is to empower students and institutions by
        providing a versatile platform for enhancing coding skills and
        simplifying academic management. It focuses on: Improving Coding Skills:
        NexYojana offers students an opportunity to practice programming across
        various levels, from basic to advanced, helping them to build strong
        problem-solving abilities essential for competitive exams and
        professional growth. Facilitating Learning and Assessment: The platform
        is designed to support educators and institutions by providing tools to
        organize and manage exams effortlessly, ensuring a smooth learning and
        assessment process. Bridging Opportunities: By hosting coding contests,
        online meetings, and other educational services, NexYojana aims to
        foster a collaborative environment, opening doors to new learning
        experiences, career-building opportunities, and personal growth for
        students and professionals alike. Ultimately, NexYojana strives to
        create a comprehensive space for both learning and teaching, combining
        technical skills development with academic management, preparing
        students for future challenges.
      </p>
      <a class="explore"> View Services </a>
    </div>
  </div>
</div>
<app-footer></app-footer>
