main{
    overflow-y: scroll;
    height:88vh;
    display: flex;
    flex-direction: column;
}

.content-router{
    height: 100%;
}
/*responsive*/
@media (max-width: 768px) 
{
    main{
        height: 80vh;
    }
}