<nav class="navbar navbar-expand-lg bg-body-tertiary custom-nav">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/assets/images/nextyojana.png" alt="Bootstrap" width="70" height="70">
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="about">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Practice
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">DSA</a></li>
              <li><a class="dropdown-item" href="#">Java</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Python</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Products & Services</a>
          </li>

          
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="button-68" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>

        <button class="button-68 ms-2" style="width: 150px;">Signin</button>
        <button class="button-68 ms-2" style="width: 150px;background-color: #00897b;">Signup</button>
      </div>
    </div>
  </nav>