<header class="header__container">
  <div class="header__image">
    <div class="header__image__card header__image__card-1">
      <span><i class="ri-key-line"></i></span>
      Practice Programming <i class="fa-solid fa-code"></i>
    </div>
    <div class="header__image__card header__image__card-2">
      <span><i class="ri-passport-line"></i></span>
      Organize Exams
    </div>
    <div class="header__image__card header__image__card-3">
      <span><i class="ri-map-2-line"></i></span>
      Coding Contests
    </div>
    <div class="header__image__card header__image__card-4">
      <span><i class="ri-guide-line"></i></span>
      Online Meetings <i class="fa-brands fa-teamspeak"></i>
    </div>
    <div class="header__image__card header__image__card-5">
        <span><i class="ri-guide-line"></i></span>
        & Many More
      </div>
    <img src="assets/images/nextyojana.png" alt="header" />
  </div>
  <div class="header__content">
    <h1>NexYojana!<br />Think <span>The</span> Next</h1>
    <p>
      NexYojana is a versatile platform designed to help students enhance their
      coding skills through practice. It offers a space for students to solve
      coding challenges, develop their problem-solving abilities, and prepare
      for competitive exams. In addition to this, NexYojana provides
      institutions and educators with tools to easily organize and manage online
      exams, creating a comprehensive environment for both learning and
      assessment in the field of coding.ting Experiences, Unforgettable
      Memories, and Endless Opportunities
    </p>
  </div>
</header>

<div class="row m-2">
    <div class="card m-2">
        <h4>Practice Coding</h4>
        <p>
        Students can practice, coding questions in their favoured programming language.
        We offer basic to advanced level questions of DSA and programming language specific questions.
        </p>
        <button class="btn btn-primary">Go to Practice</button>
    </div>
    <div class="card m-2">
        <h4>Organizer Dashboard</h4>
        <p>
            Organize your own coding contests, or exams through our platform! Explore the organizer section offered by NexYojana
        </p>
        <button class="btn btn-primary">Organizer Dashboard</button>
    </div>
    <div class="card m-2">
        <h4>NexServices</h4>
        <p>We offer online meeting services, email services, exam organizing services many more, visit to explore.</p>
        <button class="btn btn-primary">Explore</button>
    </div>
</div>